@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a target="_blank" href="https://youtube.com/@@multigamergaming">Noah Baldwin</a></p>
    <img src="cat.png" alt="Cat">
</div>
